.Title {
  position: relative;
  width: inherit;
  padding: 0px;
  margin: 0px;
  min-height: 10vh;
  border-top: 5px solid #F8D113;
  background-color: #FFEE9E;
}

img {
  padding: 0;
  height: 10vh;
  width: 30vw;
}

span {
  text-align: center;
  display: block;
}
